body{
	background-image: url(../images/bg.jpg);
	background-size: 100%;
}
#div1{
	float: left;
	width: 20%;
}
#div1 > h3{
	text-indent: 20px;
}
strong{
	position: fixed;
	left: 10;
	bottom: 10px;
}
#div1 > p{
	text-indent: 30px;
	font-size: 13px;
}
#div2{
	width: 80%;
	display: inline-block;
}
#user{
	padding-left: 60%;
}
#user > p,button{
	display: inline-block;
	padding-right: 10px;
}

.img{
	background-color: white;
	position: relative;
	width: 250px;
	height: 150px;
	border-radius: 10px;
	text-indent: 10px;
	display: inline-block;
	margin-right: 10px;
}
.img > img{
	width: 250px;
	height: 140px;
	position: absolute;
	padding-top: 10px;
	border-radius: 0px 0px 10px 10px;
}
.img > .p2{
	width: 250px;
	position: absolute;
	top: 141px;
	text-indent: 10px;
	background-color: #808080;
	opacity: 60%;
	border-radius: 0px 0px 10px 10px;
	font-size: 13px;
}
.img > .p3{
	width: 250px;
	position: absolute;
	top: 126px;
	text-indent: 10px;
	background-color: #808080;
	opacity: 60%;
	font-size: 13px;
	border-radius: 0px 0px 10px 10px;
}
#menubar{
	position: fixed;
	bottom: 10px;
	display: inline-block;
}
a{
	padding-right: 20px;
}
p:hover, a:hover{
	color: red;
}