	article{
	width: 100%;
	background-color: gray;
}
#anh{
	width: 90%;
	margin-left: 5%;
	display: inline-block;
	padding-top: 1%;
}
#anh > .img{
	width: 25%;
	height: 90%;
	text-align: center;
	float: left;
}
img{
	max-width: 80%;
}
@media screen and (min-width: 769px) and (max-width: 992px){
	#anh > .img{
		width: 45%;
	}
}
@media screen and (min-width: 320px) and (max-width: 768px){
	#anh > 	.img{
		width: 100%;
	}
}
